## 1er Paso: *Definición del problema*:

**Predecir el ingreso total de ventas**

## 2do Paso: Recolectar Datos:

In [6]:
import pandas as pd

# Cargar el dataset:
file_path = './datasets/BD_Ventas_Tech.xlsx'
df = pd.read_excel(file_path)
display(df)

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Unnamed: 9
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,NaN
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,
...,...,...,...,...,...,...,...,...,...,...
22392,2022-08-31,L. - Alisha,"Estados Unidos, América del Norte",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,2.0,NaN
22393,2022-08-31,P. - Misty,"Brasil, América del Sur",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,1.0,NaN
22394,2022-08-31,H. - Jennifer,"Reino Unido, Europa",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,1.0,NaN
22395,2022-08-31,R. - Morgan,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN
22396,2022-08-31,R. - Fernando,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verm...,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN

## Análisis exploratorio:

## Tarea:

* Realizar el análisis exploratorio: head, info, describe
* Aplicar contar nulos por columna: df.isnull().sum()

In [23]:
# Análisi exploratorio: head, info, describe

print("Primeras filas del dataframe")
display(df.head())

print("\nInformación concisa del dataframe\n")
df.info()

print(f"Nulos por columna\n{df.isnull().sum()}")

print("\nEstadisticas para las columnas numericas")
display(df.describe())

Primeras filas del dataframe

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Año de Venta,Mes de Venta,Dia de semana de venta
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,2020,6,0
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,2020,6,0
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,2020,6,0
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,2020,6,0
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,2020,6,0

Información concisa del dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Año de Venta            22393 non-null  int32
 10  Mes de Venta            22393 non-null  int32
 11  Dia de semana de venta  22393 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), object(5)
memory usage: 2.0+ MB
Nulos por columna
Fecha De Venta            0
Nombre Cliente            0
Ubicación                 0
Producto                  0
Marca                     0
Categoría                 0
Precio Unidad             0
Costo Unidad              0
Cantidad Vendida          0
Año de Venta              0
Mes de Venta              0
Dia de semana de venta    0
dtype: int64

Estadisticas para las columnas numericas

,Fecha De Venta,Precio Unidad,Costo Unidad,Cantidad Vendida,Año de Venta,Mes de Venta,Dia de semana de venta
count,22393,22393.000000,22393.000000,22393.000000,22393.000000,22393.000000,22393.000000
mean,2021-07-12 21:19:10.270173696,159.222056,66.285008,1.982137,2021.035234,6.466932,2.985219
min,2020-06-01 00:00:00,4.980000,2.540000,1.000000,2020.000000,1.000000,0.000000
25%,2020-12-03 00:00:00,8.990000,4.130000,1.000000,2020.000000,4.000000,1.000000
50%,2021-06-25 00:00:00,70.130000,32.250000,1.000000,2021.000000,7.000000,3.000000
75%,2022-03-02 00:00:00,181.000000,82.320000,3.000000,2022.000000,9.000000,5.000000
max,2022-08-31 00:00:00,1650.000000,546.680000,5.000000,2022.000000,12.000000,6.000000
std,NaN,224.434256,85.966001,1.399530,0.785816,3.309371,1.993694

In [17]:
try:
    # Crear el dataframe: 
    df = pd.read_excel(file_path)

    # 1. Realizar el proceso de limpieza del dataframe:
    if 'Unnamed: 9' in df.columns:
        df = df.drop(columns = ['Unnamed: 9'])
        print("Se ha eliminado la columna Unnamed: 9")

    # 2. Eliminar Filas con valores nulos: 
    initial_rows = df.shape[0]
    df = df.dropna()
    row_dropped = initial_rows - df.shape[0]
    print(f"Hemos eliminado {row_dropped} filas, con valores null")

    # 3. Castear adecuadamente el tipo de dato:
    df['Fecha De Venta'] = pd.to_datetime(df['Fecha De Venta'])
    print("Columna Fecha de Venta transforma a formato de fecha datetime")

    # 4. Exxtraer las caracteristicas de la fecha:
    df['Año de Venta'] = df['Fecha De Venta'].dt.year
    df['Mes de Venta'] = df['Fecha De Venta'].dt.month
    df['Dia de semana de venta'] = df['Fecha De Venta'].dt.dayofweek
    print(f"Carcteristicas de fecha (Año, Mes, Dia de la semana) extraídas")

    # Impresiones:
    print("\nDataframe despues de limpieza, primeras cinco filas: ")
    print(df.head().to_markdown(index=False, numalign ='left', stralign='left'))
    print('Información del dataframe después de la limpieza')
    print(df.info())
    print('\nValores nulos por columna después de la limpieza')
    print(df.isnull().sum().to_markdown(index=False, stralign='left'))

    # Guardamos el dataset resultante:
    df.to_pickle('./datasets/BD_Ventas_Tech_cleaned.pkl')
    print('Dataframe guardado en dataset "BD_Ventas_Tech_cleaned.pkl"')
    
except Exception as e:
    print(f"Error durante la limpieza y preparación {e}")

Se ha eliminado la columna Unnamed: 9
Hemos eliminado 4 filas, con valores null
Columna Fecha de Venta transforma a formato de fecha datetime
Carcteristicas de fecha (Año, Mes, Dia de la semana) extraídas

Dataframe despues de limpieza, primeras cinco filas:
| Fecha De Venta      | Nombre Cliente   | Ubicación                         | Producto                    | Marca    | Categoría   | Precio Unidad   | Costo Unidad   | Cantidad Vendida   | Año de Venta   | Mes de Venta   | Dia de semana de venta   |
|:--------------------|:-----------------|:----------------------------------|:----------------------------|:---------|:------------|:----------------|:---------------|:-------------------|:---------------|:---------------|:-------------------------|
| 2020-06-01 00:00:00 | G. -  Martin     | Chile, América del Sur            | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Victor     | Alemania, Europa                  | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | G. -  Whitney    | Estados Unidos, América del Norte | Simulador de Combate 3 E119 | Kid Toys | Juegos      | 28              | 14.28          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | A. -  Wayne      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Devin      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020           | 6              | 0                        |
Información del dataframe después de la limpieza
<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Año de Venta            22393 non-null  int32
 10  Mes de Venta            22393 non-null  int32
 11  Dia de semana de venta  22393 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), object(5)
memory usage: 2.0+ MB
None

Valores nulos por columna después de la limpieza
|   0 |
|----:|
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
Dataframe guardado en dataset "BD_Ventas_Tech_cleaned.pkl"

## Paso 3: Ingeniería de Modelo:

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
import joblib
import scipy.sparse

In [31]:
file_path = './datasets/BD_Ventas_Tech_cleaned.pkl'
try:
    df = pd.read_pickle(file_path)
    print(f'Cargado el dataframe desde {file_path}, exitosamente')

    # 1. Empezamos con la ingeniería de caracteristicas:
    df['Margen Ganancia'] = df['Precio Unidad'] - df['Costo Unidad']
    print(f"Caracteristica \'Margen de Ganancia\' creada")

    # 2. Ingeniería de caracteristicas: ingreso total de venta
    df['Ingreso Total Venta'] = df['Precio Unidad'] * df['Cantidad Vendida'] 
    print(f"Caracteristica \'Ingreso Total Venta\' creada")

    # 3. Ingeniería de caracteristicas: Ganancia total de venta
    df['Ganancia Total Venta'] = df['Margen Ganancia'] * df['Cantidad Vendida'] 
    print(f"Caracteristica \'Ganancia Total Venta\' creada")


    # 4. Selección de la variable objetivo:
    target_variable = 'Ingreso Total Venta'

    # Excluimos las columnas que no se usan y las usamos para calcular el target_variable, e incluso esta misma para evitar el data leak
    # Caracteristicas a descartar: 
    features_to_exclude = ['Fecha de Venta', 'Nombre Cliente', target_variable, 'Precio Unidad', 'Cantidad Vendida']
    
    features = [col for col in df.columns if col not in features_to_exclude]
    print(f'Caracteristicas para ingeniería: {features}')

    # Identificar caracteristicas categoricas y númericas:
    categorical_features = df.[features].select_dtypes(inlcude = ['object']).columns
    numerical_features = df.[features].select_dtypes(inlcude = ['int64', 'float64', 'int32']).columns

    # Imprimamos el resultado:
    print(f"Variable Objetivo: {target_variable}")
    print(f"Caracteristicas Categoricas: {list(categorical_features)}")
    print(f"Caracteristicas Numéricas: {list(numerical_features)}")

    # 5. Codificar variables categoricas (One-Hot-Encoding) y pasar numéricas:
    preprocessor = ColumnTransformer(
        transformers = [
            ("num", "passtrough", numerical_features),
            ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
        ]
    )

    # Aplicar Transformaciones: 
    x = df[features]
    y = [target_variable]

    x_processed = preprocessor.fit_transform(x)

    # Convertir un arreglo denso si es una matriz dispersa:
    if scipy.sparse.issparse(x_processed):
        x_processed = x_processed.toarray()

    # Obetenemos los nombres de las nuevas columnas despues del preprocesamiento
    all_features_names =  preprocessor.get_features_names_out()

    x_processed_dataframe = pd.dataframe(x_processed, columns = all_features_names, index = df.index)

    print(f"Dataframe despues de la ingeniería de caracteristicas y codificación:")
    display(x_processed_dataframe.head())
    print(f"Dimensiones del dataset despues de la ingeniería de caracteristicas y codificación:")
    print(x_processed_dataframe.shape())

    # Guardar el modelo generado:
    joblib.dump(preprocessor, "./Modelo/model.pkl")
    x_processed_dataframe.to_pickle('./datasets/x_processed_dataframe_df.pkl')
    y.to_pickle('./datasets/y_target.pkl')

except Exception as e:
    print(f"Error presentado al guardar el modelo {e}")

SyntaxError: invalid syntax (3671127039.py, line 30)